:root {
  --crew-btnsize: 15px;
  @media screen and (max-width: 375px) {
    --crew-btnsize: 10px;
  }
}

.Crew {
  background: url(../../assets/crew/background-crew-desktop.jpg);

  @media screen and (max-width: 768px) {
    background: url(../../assets/crew/background-crew-tablet.jpg);
  }
  @media screen and (max-width: 375px) {
    background: url(../../assets/crew/background-crew-mobile.jpg);
  }
  width: 100vw;
  height: 100vh;
}
.crew-carousel {
  height: 75%;
  @media screen and (max-width: 768px) {
    top: 15%;
    bottom: auto;
  }
  position: fixed;
  bottom: 0;
  color: white;
}

.crew-buttons {
  position: relative;
  top: 85%;
  left: 10%;
  @media screen and (max-width: 768px) {
    top: 30%;
    left: 43%;
    width: 50%;
  }
  @media screen and (max-width: 700px) {
    top: 28%;
  }
  @media screen and (max-width: 637px) {
    top: 30%;
  }
  @media screen and (max-width: 510px) {
    left: 41%;
  }
  @media screen and (max-width: 430px) {
    top: 37.5%;
    left: 38%;
  }
  width: 90%;
  .active {
    background-color: white;
  }
  button {
    margin-right: 15px;
    width: var(--crew-btnsize);
    height: var(--crew-btnsize);
    border-radius: 50%;
    border: 0;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
    &:hover {
      background-color: rgba(255, 255, 255, 0.75);
    }
  }
}
