@use "../../mixins.scss" as mixin;

:root {
  --crew-pos-size: 1.2em;
  --pers-name-size: 2.7em;
  --pers-desc-size: 1em;
}
@media screen and (max-width: 768px) {
  :root {
    --crew-pos-size: 1.2em;
    --pers-name-size: 1.7em;
    --pers-desc-size: 1em;
  }
}
@media screen and (max-width: 486px) {
  :root {
    --crew-pos-size: 1.1em;
    --pers-name-size: 1.5em;
    --pers-desc-size: 1em;
  }
}
.crew-component {
  @include mixin.displayFlex(row, center, flex-start);
  @media screen and (max-width: 768px) {
    @include mixin.displayFlex(column, center, center);
  }
  @media screen and (max-width: 430px) {
    @include mixin.displayFlex(column-reverse, center, center);
  }
  height: 100%;
  width: 80%;
  // border: 2px solid red;
}
.crew-position {
  font-size: var(--crew-pos-size);
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.631);
  font-family: "Bellefair", sans-serif;
  @media screen and (max-width: 430px) {
    margin-top: 20%;
  }
}
.person-desc {
  color: rgba(255, 255, 255, 0.631);
  font-family: "Barlow Condensed", sans-serif;
  font-size: var(--pers-desc-size);
  width: 65%;
  line-height: 20px;
  @media screen and (max-width: 768px) {
    width: 100%;
  }
}
.person-name {
  text-transform: uppercase;
  font-size: var((--pers-name-size));
  font-family: "Bellefair", sans-serif;
  margin: 10px 0 15px 0;
}
.crew-details {
  width: 60%;
  @media screen and (max-width: 768px) {
    text-align: center;
    width: 80%;
    margin-bottom: 10%;
  }
}
.crew-image {
  hr {
    display: none;
    @media screen and (max-width: 430px) {
      display: block;
      width: 90vw;
    }
  }
  img {
    display: block;
    width: auto;
    max-height: 75vh;
    @media screen and (max-width: 768px) {
      max-height: 36vh;
      margin: 0 auto;
      // border: 2px solid red;
    }
    @media screen and (max-width: 430px) {
      max-height: 23vh;
    }
    object-fit: contain;
  }
}
.rec-pagination {
  display: none !important;
}
.crew-buttons-mob {
  top: 0;
  left: 0;
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  margin: 10px auto;
  .active {
    background-color: white;
  }
  button {
    margin-right: 15px;
    @media screen and (max-width: 768px) {
      margin: 0 5px;
    }
    width: var(--crew-btnsize);
    height: var(--crew-btnsize);
    border-radius: 50%;
    border: 0;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
    &:hover {
      background-color: rgba(255, 255, 255, 0.75);
    }
  }
}
