:root {
  --crew-btnsize: 15px;
}

.Crew {
  background: url(../../assets/crew/background-crew-desktop.jpg);

  @media screen and (max-width: 768px) {
    background: url(../../assets/crew/background-crew-tablet.jpg);
  }
  @media screen and (max-width: 375px) {
    background: url(../../assets/crew/background-crew-mobile.jpg);
  }
  width: 100vw;
  height: 100vh;
}
.crew-carousel {
  height: 75%;
  position: fixed;
  bottom: 0;
  color: white;
}

.crew-buttons {
  position: fixed;
  left: 10%;
  bottom: 10%;
  .active {
    background-color: white;
  }
  button {
    margin-right: 15px;
    width: var(--crew-btnsize);
    height: var(--crew-btnsize);
    border-radius: 50%;
    border: 0;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
    &:hover {
      background-color: rgba(255, 255, 255, 0.75);
    }
  }
}
