@use "../../mixins.scss" as mixin;
:root {
  --techno-button-width: 40px;
  --terminology-font: 0.7em;
  --techno-name-font: 1.6em;
  --techno-desc-font: 0.7em;
}
.techno-component {
  @include mixin.displayFlex(row, center, center);
  @media screen and (max-width: 768px) {
    margin-top: 10px;
    @include mixin.displayFlex(column-reverse, center, center);
    border: 1px solid red;
  }
}
.techno-details {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  margin-right: 5%;
  @media screen and (max-width: 768px) {
    text-align: center;
  }
}
.terminology {
  font-size: var(--terminology-font);
  color: rgba(255, 255, 255, 0.487);
  font-family: "Barlow Condensed", sans-serif;
}
.techno-name {
  font-size: var(--techno-name-font);
  font-family: "Bellefair", serif;
  text-transform: uppercase;
  margin: 10px 0 15px 0;
}
.techno-desc {
  font-size: var(--techno-desc-font);
  color: rgba(255, 255, 255, 0.487);
  width: 80%;
  @media screen and (max-width: 768px) {
    width: 60%;
    margin: 0 auto;
    line-height: 15px;
  }
}
.techno-buttons {
  @include mixin.displayFlex(column, center, center);
  @media screen and (max-width: 768px) {
    @include mixin.displayFlex(row, center, center);
    margin-top: 10px;
    // margin-right: 0;
  }
  margin-right: 5%;

  .active {
    background-color: white;
    color: black;
  }
  button {
    width: var(--techno-button-width);
    height: var(--techno-button-width);
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.487);
    margin: 10px 0;
    @media screen and (max-width: 768px) {
      margin: 10px;
    }
    color: white;
    cursor: pointer;
    &:hover {
      border: 1px solid white;
    }
  }
}
.btn-desktop {
  @media screen and (max-width: 768px) {
    display: none;
  }
}
.btn-mob {
  display: none;
  @media screen and (max-width: 768px) {
    display: block;
  }
}
.techno-image {
  img {
    @media screen and (max-width: 768px) {
      max-width: 100%;
    }
    display: block;
    height: auto;
    max-width: 30vw;
  }
}
