.Technology {
  background: url(../../assets/technology/background-technology-desktop.jpg);

  @media screen and (max-width: 768px) {
    background: url(../../assets/technology/background-technology-tablet.jpg);
  }
  @media screen and (max-width: 375px) {
    background: url(../../assets/technology/background-technology-mobile.jpg);
  }
  width: 100vw;
  height: 100vh;
}

.techno-carousel{
  animation: slideInFromBottom 0.3s ease-in-out;
}