@use "../../mixins.scss" as mixin;
.dest-component {
  @include mixin.displayFlex(row, flex-start, center);
}
.dest-details{
  width: 35%;
}
.dest-desc{
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.659);
  line-height: 20px;
  margin-bottom: 4em;
}
.dest-image {
  img {
    width: 80%;
    animation: rotateImg 50s linear infinite;
  }
}
.dest-title {
  font-size: 5em;
  font-family: "Bellefair", serif;
  margin:15px;
}
.dist-time {
  @include mixin.displayFlex(row, flex-start, space-between);
  width: 80%;
  margin-top: 20px;
}
.dist-time-title{
  font-family: "Barlow Condensed", sans-serif;
  font-size: 0.8em;
  margin-bottom: 0.8em;
}
.dist-time-data{
  font-size: 1.4em;
  font-family: "Bellefair", serif;
}