.destination {
  background: url(../../assets/destination/background-destination-desktop.jpg);
  background-position: center;
  background-size: cover;
  @media screen and (max-width: 768px) {
    background: url(../../assets/destination/background-destination-tablet.jpg);
  }
  @media screen and (max-width: 375px) {
    background: url(../../assets/destination/background-destination-mobile.jpg);
  }
  width: 100vw;
  height: 100vh;
}
.dest-banner {
  position: relative;
  top: 25%;
  left: 10%;
  color: white;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.5em;
}
.dest-carousel-buttons {
  position: absolute;
  top: 35%;
  left: 60%;
  .active {
    border-bottom: 2px solid white;
  }
  button {
    background-color: transparent;
    font-family: "Barlow Condensed", sans-serif;

    color: white;
    border: none;
    margin: 0 10px;
    padding-bottom: 10px;
    &:hover {
      border-bottom: 2px solid rgba(255, 255, 255, 0.508);
    }
  }
}
.dest-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dest-body {
  animation: slideInFromBottom 0.3s ease-in;
  position: absolute;
  top: 40%;
  width: 90%;
  color: white;
  margin: 0 auto;
}
.rec-arrow,
.rec-dot {
  display: none;
}
