@forward "./general";
@forward "./animations.scss";
@forward "./fonts.scss";
@use "./mixins.scss" as mixin;

header {
  @include mixin.displayFlex(row, center, center);
  width: 100%;
  position: fixed;
  z-index: 1;
  .logo {
    width: 50%;
    padding-left: 2em;
    margin-top: 1em;
    position: relative;
    @media screen and (max-width: 375px) {
      padding-left: 0;
      left: -56px;
    }
    img {
      width: 3em;
    }
    hr {
      @media screen and (max-width: 768px) {
        display: none;
      }
      position: absolute;
      width: 80%;
      top: 1.5em;
      right: -5%;
      z-index: 1;
    }
  }
  .navbar {
    @include mixin.displayFlex(row, center, center);
    font-family: "Barlow Condensed", sans-serif;
    position: relative;
    top: -10px;
    height: 4em;
    width: 65%;
    background-color: rgba(128, 109, 109, 0.2);
    animation: slideInFromRight 0.3s linear;
    @media screen and (max-width: 768px) {
      top: auto;
      height: 5em;
      margin-top: auto;
    }
    @media screen and (max-width: 640px) {
      width: 80%;
    }
    @media screen and (max-width: 375px) {
      @include mixin.displayFlex(column, flex-start, flex-start);
      position: fixed;
      height: 100%;
      top: 0;
      right: 0;
      padding-top: 20vh;
      padding-left: 10px;
    }
    margin-top: 2em;
    .close {
      display: none;
    }
    li {
      padding: 0 10px;
      @media screen and (max-width: 800px) {
        font-size: 0.91em;
      }

      @media screen and (max-width: 768px) {
        margin-top: 5%;
        padding-bottom: 1.7em;
      }
      @media screen and (max-width: 575px) {
        font-size: 0.8em;
      }
      @media screen and (max-width: 525px) {
        font-size: 0.7em;
        padding: 0 5px;
      }
      @media screen and (max-width: 475px) {
        font-size: 0.65em;
        padding: 0 4px;
      }
      @media screen and (max-width: 375px) {
        padding-bottom: 0;
      }
    }
  }
}
.active {
  border-bottom: 2px solid white;
}
li {
  a {
    padding-bottom: 1.2em;
    @media screen and (max-width: 800px) {
      padding-bottom: 1.3em;
    }

    @media screen and (max-width: 768px) {
      padding-bottom: 2em;
    }
    @media screen and (max-width: 575px) {
      padding-bottom: 2.5em;
    }
    @media screen and (max-width: 525px) {
      padding-bottom: 2em;
    }
    @media screen and (max-width: 475px) {
      padding-bottom: 2em;
    }
    @media screen and (max-width: 375px) {
      padding-bottom: 0;
      margin-left: 10px;
      font-size: 1.5em;
    }
    &:hover {
      border-bottom: 2px solid rgba(255, 255, 255, 0.515);
    }
  }
  strong {
    @media screen and (max-width: 768px) {
      display: none;
    }
    @media screen and (max-width: 375px) {
      display: inline-block;
    }
  }
}
.bars-navbar {
  display: none;
  @media screen and (max-width: 375px) {
    display: block;
    position: fixed;
    z-index: 10;
    right: 1em;
  }
}
.open {
  display: block;
  @media screen and (max-width: 375px) {
    display: none !important;
  }
}
